.header-component {
    background-color: #1a202c; /* bg-gray-900 */
    height: 3rem; /* h-12 */
    padding-left: 1rem; /* px-4 */
    padding-right: 1rem; /* px-4 */
    padding-top: 0.75rem; /* py-3 */
    padding-bottom: 0.75rem; /* py-3 */
    display: flex; /* flex */
    justify-content: center; /* justify-center */
    align-items: center;
    font-size: 1.25rem; /* text-xl */
    color: white; /* text-white */
}